#root {
    width: 100%;
}

.nanny-agreement {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.this_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 100px;
}


.content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.row {
    margin: 150px;
}

.centered-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}


.text-agreement1 {
    width: 80%; 
    font-size: 1rem;
    margin-top: 20px;
    justify-content: center;
}

.text-agreement2 {
    width: 400px; 
    margin-right: 20px;
    font-size: 1rem;
    margin-top: 20px;
}

.time-container {
    margin-top: 100px;
    margin-left: 400px;
}

.time-container2 {
    margin-top: -300px;
    margin-left: 30px;
}


.label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: black;
}

.button-apply{
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 30px;
}


.alert {
    margin-left: 650px;
}