.this_text_message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

  
.header-message {
    font-weight: bold;
    color: #333;
    margin: 0;
}
  
.text-message {
    color: #666;
    margin: 0;
}

.messageBox {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    text-align: left; 
    width: 100%;
    box-sizing: border-box; 
    cursor: pointer;
}

.messageBox .header-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; 
    color: grey; 
}

.messageBox .text-message {
    font-size: 14px;
    color: #555;
}
    

  
