.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
  background-color: #f8f9fa;
  border: none;
  color:black;
}

.button:hover{
  background-color: hsl(210, 17%, 88%);
  color:black;
}

.button:focus, 
.button:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: hsl(210, 17%, 78%) !important;
  color: inherit !important;
}

.dropdown-toggle:focus, 
.dropdown-toggle:active {
  outline: none !important; 
  box-shadow: none !important; 
  color: black;
  background-color: hsl(210, 17%, 78%) !important;

}

#dropDownItems:hover,
#dropDownItems:focus,
#dropDownItems:active   {
  background-color: hsl(210, 17%, 78%) !important;



  

.navbar-collapse {
  justify-content: space-between;
}

.icon-button {
  margin-left: auto;
}


}

.button.active {
  text-decoration: underline;
  font-weight: bold;
}

.button.active,
.dropdown-item.active {
  text-decoration: underline;
  font-weight: bold;
  color: black !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.button.active:hover,
.dropdown-item.active:hover {
  color: black !important;
  background-color: transparent !important;
  text-decoration: underline;
}

