#root{
  width: 100%;
}

.label {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: black;
}

.button-container-pi {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.hyper-div{
  background-color: #F9F9F9;
}

.button-apply-pi {
  padding: 15px 50px; 
  border: none; 
  border-radius: 40px; 
  font-size: 18px; 
  color: white; 
  cursor: pointer; 
  transition: all 0.3s ease;
  background-color: black; 
}

.delete-button{
  background-color: white;
  margin-left: 20px;
  color: black;

}



.button-apply-pi:hover {
  background-color: #333; 
}
