#root{
    width: 100%;
}

.label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: black;
}

.buttons-su {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 200px; 
  margin-top: 30px; 
}

.button-temp-su,
.button-apply-su {
  padding: 15px 50px; 
  border: none; 
  border-radius: 40px; 
  font-size: 18px; 
  color: white; 
  cursor: pointer; 
  transition: all 0.3s ease;
}

.button-temp-su {
  background-color: orange; 
}

.button-temp-su:hover {
  background-color: darkorange; 
}

.button-apply-su {
  background-color: black; 
}

.button-apply-su:hover {
  background-color: #333; 
}