.buttons-pedn {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 200px; 
    margin-top: 30px; 
}

.button-temp-pedn,
.button-apply-pedn {
    padding: 15px 50px; 
    border: none; 
    border-radius: 40px; 
    font-size: 18px; 
    color: white; 
    cursor: pointer; 
    transition: all 0.3s ease;
}

.button-temp-pedn {
    background-color: orange; 
}

.button-temp-pedn:hover {
    background-color: darkorange; 
}

.button-apply-pedn {
    background-color: black; 
}

.button-apply-pedn:hover {
    background-color: #333; 
}
