#root {
    width: 100%;
}

.nanny-rates {
    display: flex;
    flex-direction: column;
    height: 100vh;  
}

.this_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 100px;
}

.rating-container {
    display: flex;
    flex-direction: column; 
    margin-top: 50px; 
    margin-left: 300px;
    gap: 20px;
}

.rating-container2 {
    display: flex;
    flex-direction: column; 
    margin-top: -300px; 
    margin-left: 900px;
    gap: 20px; 
}

.container-text {
    display: flex;
    flex-direction: column; 
    margin-top: 200px; 
    margin-left: 500px;
    width: 400px;
    gap: 20px;
}

.container-textp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-rating .filled {
    font-size: 2rem; 
    color: gold; 
    padding: 0 5px; 
}

.star-rating .empty {
    font-size: 2rem; 
    color: #ccc; 
    padding: 0 5px; 
}


.clickable-text {
    color: blue;               
    text-decoration: underline; 
    font-size: small;        
}
  
.clickable-text:hover {
    cursor: pointer;  
}

.buttons-rates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.button-apply-rates{
    padding: 15px 50px; 
    border: none; 
    border-radius: 40px;
    font-size: 18px; 
    color: white; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    background-color: black;
    margin-top: 20px; 
}

.button-apply-rates:hover {
    background-color: #333; 
}
