.search-nannies-container {
    display: flex;
    justify-content: flex-start; 
    padding: 20px;
    width: 100%; 
}

.profile-list {
    display: flex;
    margin-top: -120px;
    margin-left: -50px; 
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Εξασφαλίζει ότι ο container καλύπτει όλο το ύψος της σελίδας */

}

.content {
    flex: 1; /* Το main τμήμα αναλαμβάνει όλο το διαθέσιμο χώρο */
}


.no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #6d4a9d;
}
