.search-nannies-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #6d4a9d;
}
