.filters-container {
    border: 1px solid #d5c3e6;
    border-radius: 8px;
    padding: 16px;
    max-width: 250px;
    color: #6d4a9d;
}

.filters-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 16px;
    
}

.filter-item {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px 12px; 
    margin-bottom: 12px; 
    color: #6d4a9d;
    text-align: left;
    cursor: pointer;
    font-size: 0.9rem; 
}

.filter-item:last-child {
    margin-bottom: 0;
}

.filter-item:hover {
    background-color: #e8dff4;
    border-color: #c6b4db;
}

.filters-container:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.input{
    background-color: white;
    color: black;
}
