.nanny-rates1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.star-rating1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.star {
    font-size: 2rem;
    color: #ccc; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    transition: color 0.2s ease-in-out;
    outline: none;
}

.star.filled {
    color: #f5c518; 
}

.star:hover,
.star:focus {
    color: #f5c518; 
}

.star:active {
    color: #ffbd1b; 
}
